<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">

        <div class="row">
            <nav class="navbar navbar-inverse">
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="nav navbar-nav">
                        <li><a href="/"><big><big>SodaShop - магазин напитков</big></big></a></li>
                        <li><a href="#"><big><big>Отзывы</big></big></a></li>
                        <li><a href="#"><big><big>Контакты</big></big></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><big><big>Корзина</big></big></a></li>
                    </ul>
                </div>
            </nav>
        </div>

    </div>

    <div>

        @RenderBody()
    </div>
</body>
</html>